In [9]:
print(12+2)

14

In [2]:
print('hi')

hi

In [3]:
print("sahil" + "arora")

sahilarora

In [4]:
print("sahil", 13)

sahil 13

In [5]:
print("sahil" + str(56))

sahil56

In [6]:
a = "sahil gamdi"

In [10]:
print(type(a))

<class 'str'>

In [11]:
a = 12.4
print(type(a))

<class 'float'>

In [12]:
b = True
print(type(b))

<class 'bool'>

In [13]:
a-13=23
print(a-13)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3450877726.py, line 1)

In [14]:
a_12=56
print(a_12)

56

In [16]:
print("hello")
#print("by")
print("how")

hello
how

In [17]:
a = 12
a= "sahil"
a = 12.3
print(a)

12.3

In [18]:
a = 12
b = 3
c = 11
print(a)
print(b)
print(c)

12
3
11

In [21]:
a,b,c= 12,11,65
print(a)
print(b)
print(c)

12 11 65

In [23]:
a,b,c= 12,11,65
print(a,b,c)

12 11 65

In [24]:
a,b,c= 12,11,65
print("", a, "\n", b, "\n", c)

 12
 11
 65

In [29]:
print("sahil"+"gamdi")

sahilgamdi

In [26]:
print("sahil", "gamdi")

sahil gamdi

In [28]:
print("sahil" + "   gamdi")

sahil   gamdi

In [30]:
a =12
b=12
c=12
print(a)
print(b)
print(c)

12
12
12

In [31]:
a=b=c=12
print(a)
print(b)
print(c)

12
12
12

In [33]:
a = "my name is \n sahil \t arora"
print(a)

my name is
 sahil 	 arora

In [35]:
age = 22
name = "sahil"
message = "my age is {} and my name is {}".format(age,name)
print(message)

my age is 22 and my name is sahil

In [36]:
age = 22
name = "sahil"
message = "my age is {} and my name is {}"
print(message.format(age,name))

my age is 22 and my name is sahil

In [2]:
a=input("enter your name")
print(a)
print(type(a))

enter your name sahil

sahil
<class 'str'>

In [5]:
a= input("enter your 1st value")
b= input("enter your iind value")
c= a+b
print("sum is" , c)

enter your 1st value 12
enter your iind value 5

sum is 125

In [4]:
a= input("enter your 1st value")
b= input("enter your iind value")
c= int(a)+int(b)
print("sum is" , c)

enter your 1st value 12
enter your iind value 5

sum is 17

In [7]:
a= int(input("enter your 1st value"))
b= int(input("enter your iind value"))
c= a+b
print("sum is" , c)

enter your 1st value 12
enter your iind value 5

sum is 17